- name: Configure iTerm
  ansible.builtin.shell:
    cmd: |
      defaults write com.googlecode.iterm2 LoadPrefsFromCustomFolder -bool true
      mkdir -p {{ settings_folder }}
      defaults write com.googlecode.iterm2 PrefsCustomFolder -string {{ settings_folder }}
    creates: '{{ settings_folder }}'
  vars:
    settings_folder: '$HOME/.app-config/iTerm'
  tags:
    - iterm
