- name: Install oh-my-zsh
  ansible.builtin.shell:
    cmd: 'sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"'
    creates: ~/.oh-my-zsh

- name: Manage .zprofile
  ansible.builtin.blockinfile:
    dest: ~/.zprofile
    create: true
    insertafter: 'EOF'
    block: |
      ## Homebrew
      eval "$(/usr/local/bin/brew shellenv)"
    marker: '# {mark} ---- Ansible Managed Block ----'

- name: Manage .zshrc
  ansible.builtin.blockinfile:
    dest: ~/.zshrc
    create: true
    insertafter: 'EOF'
    block: |
      ## oh-my-zsh
      export ZSH=~/.oh-my-zsh
      ZSH_THEME="" # No theme because using Pure prompt
      HYPHEN_INSENSITIVE="true"
      COMPLETION_WAITING_DOTS="true"
      plugins=(git)
      source $ZSH/oh-my-zsh.sh

      ## Pure prompt
      fpath+=("$(brew --prefix)/share/zsh/site-functions")
      autoload -U promptinit; promptinit
      prompt pure

      ## mise
      eval "$(mise activate zsh)"

      ## pipx
      export PIPX_DEFAULT_PYTHON="$(mise which python)"
      export PATH=$PATH:~/.local/bin

      # pnpm
      export PNPM_HOME=~/Library/pnpm
      case ":$PATH:" in
        *":$PNPM_HOME:"*) ;;
        *) export PATH="$PNPM_HOME:$PATH" ;;
      esac
      # pnpm end

      ## bun
      export BUN_INSTALL=$HOME/.bun
      export PATH=$BUN_INSTALL/bin:$PATH

      ## Android Development
      export JAVA_HOME=/Library/Java/JavaVirtualMachines/zulu-17.jdk/Contents/Home
      export ANDROID_HOME=$HOME/Library/Android/sdk
      export PATH=$PATH:$ANDROID_HOME/emulator
      export PATH=$PATH:$ANDROID_HOME/platform-tools

      ## Custom Aliases & Functions
      alias editrc=code ~/.zshrc
      alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
      gitclean() {
        git fetch -p
        for branch in $(git for-each-ref --format '%(refname) %(upstream:track)' refs/heads | awk '$2 == "[gone]" {sub("refs/heads/", "", $1); print $1}'); do
          git branch -D $branch;
        done
      }
      killport() {
        lsof -i TCP:$1 | grep LISTEN | awk '{print $2}' | xargs kill -9
      }
    marker: '# {mark} ---- Ansible Managed Block ----'
